---
layout: default
fancybox: true
---
{% if page.category == 'roads' %}
  {% assign back_url = site.baseurl | append: '/roads/' %}
  {% assign back_label = "Roads I've Travelled" %}
{% elsif page.category == 'places' %}
  {% assign back_url = site.baseurl | append: '/places/' %}
  {% assign back_label = "Places I've Seen" %}
{% elsif page.category == 'stories' %}
  {% assign back_url = site.baseurl | append: '/stories/' %}
  {% assign back_label = "Stories I've Heard" %}
{% else %}
  {% assign back_url = site.baseurl | append: '/roads/' %}
  {% assign back_label = 'Back' %}
{% endif %}

<div class="gallery-detail-header">
  <a class="back-btn" href="{{ back_url }}">{{ back_label }}</a>
  <h1 class="gallery-detail-title">{{ page.title }}</h1>
  {% if content != "" %}
  <div class="gallery-detail-body">{{ content }}</div>
  {% endif %}
</div>

<div class="container">
  <div class="masonry-grid">
    {% for image in page.images %}
    {% if image.src contains '/upload/' %}
      {% assign _lbparts = image.src | split: '/upload/' %}
      {% assign _lburl = _lbparts[0] | append: '/upload/f_auto,q_auto,w_2500/' | append: _lbparts[1] %}
    {% else %}
      {% assign _lburl = image.src %}
    {% endif %}
    <a class="masonry-item"
       href="{{ _lburl }}"
       data-fancybox="gallery"
       data-caption="{{ image.caption }}">
      {% include cloudinary_img.html
         src=image.src
         alt=image.caption
         sizes="(max-width: 480px) 100vw, (max-width: 900px) 50vw, 400px" %}
    </a>
    {% endfor %}
  </div>
</div>
